<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaI</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <main class="container">
        <div class="image-container">
            <label for="image-upload" class="custom-file-upload">
                Upload Image
            </label>
            <input type="file" id="image-upload" accept="image/*">
            <img src="#" alt="drap and drop here" id="uploaded-image" dropzone="copy">
        </div>
        <div class="metadata">
            <h2>Image Metadata</h2>
            <div class="metadata-field">
                <!-- <label for="image-title">Title:</label> 
                 <input type="text"  id="image-title"> -->
            </div>
        </div>
    </main>
</body>
</html>
